body{
  margin: 0;
}


/* ===== MODAL ===== */
#modal-bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  z-index: 2;
}

#modal{
  position: relative;
  box-sizing: border-box;
  top:   20%;
  height: 425px;
  width: 400px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}

#modal-header{
  margin: 10px 20px;
  height: 40px;
  width: auto;
  font-family: 'Permanent Marker', cursive;
}

#modal > p{
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.formInput{
  width: 150px;
  height: 50px;
  margin: 5px 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

#form-submit{
  height: 50px;
  width: 150px;
  margin: 5px auto;
  background-color: #ff0000;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#form-submit > h2{
  margin: 0;
  color: white;
  line-height: 50px;
}

#form-submit:hover{
  background-color: #ff6666;
}

#form-submit:active{
  background-color: #990000;
}

#close-modal{
  position: absolute;
  border: 1px solid black;
  padding: 5px 10px;
  right: 5px;
  top: 5px;
  font-size: 20px;
  float: right;
  font-family: sans-serif;
  background-color: #ff0000;
  color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#close-modal:hover{
  background-color: #ff6666;
}

#close-modal:active{
  background-color: #990000;
}

/*== HEADER ==*/
#header{
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  background-color: green;
  box-shadow: 0 2 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#header-text{
  margin: 0 10px;
  float: left;
  line-height: 100px;
  width: auto;
  font-size: 32px;
  color: white;
  font-family: 'Rock Salt', cursive;
}

#header-image{
  float: right;
  padding: 10px 60px;
  height: 80px;
}

/*== PAGE CONTAINER ==*/
#page-container{
  position: relative;
  top: 100px;
  height: auto;
  width: 100%;
}

/*== HERO AREA ==*/
#hero-area > img{
  width: 100%;
  height: auto;
}

/*==== BODY CONTENT =====*/
#body-content{
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.content-title{
  margin: 20px 0 5px 0;
  font-family: 'Permanent Marker', cursive;
}

.content-graf{
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 600px){

  #header{
    text-align: center;
    height: auto;
  }

  #header-text{
    float: none;
    font-size: 24px;
    line-height: 60px;
  }

  #header-image{
    float: none;
    padding: 10px;
  }

  #page-container{
    top: 164px;
  }
}
